/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * Adobe Garamond Premier Pro:
 *   - http://typekit.com/eulas/00000000000000003b9b00c5
 *   - http://typekit.com/eulas/00000000000000003b9b00c6
 *   - http://typekit.com/eulas/00000000000000003b9b00c2
 *   - http://typekit.com/eulas/00000000000000003b9b00c1
 *   - http://typekit.com/eulas/00000000000000003b9b00c3
 *   - http://typekit.com/eulas/00000000000000003b9b00c4
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-08-14 00:29:51 UTC"}*/

@font-face {
font-family:"Adobe Garamond Premier Pro";
src:url("../typekit/1l.woff") format("woff2"),url("/typekit/1d.woff") format("woff"),url("../typekit/1a.woff") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"Adobe Garamond Premier Pro";
src:url("../typekit/2l.woff") format("woff2"),url("../typekit/2d.woff") format("woff"),url("../typekit/2a.woff") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"Adobe Garamond Premier Pro";
src:url("../typekit/3l.woff") format("woff2"),url("../typekit/3d.woff") format("woff"),url("../typekit/3a.woff") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"Adobe Garamond Premier Pro";
src:url("../typekit/4l.woff") format("woff2"),url("../typekit/4d.woff") format("woff"),url("../typekit/4a.woff") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"Adobe Garamond Premier Pro";
src:url("../typekit/5l.woff") format("woff2"),url("../typekit/5d.woff") format("woff"),url("../typekit/5a.woff") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"Adobe Garamond Premier Pro";
src:url("../typekit/6l.woff") format("woff2"),url("../typekit/6d.woff") format("woff"),url("../typekit/6a.woff") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

.tk-Adobe Garamond Premier Pro { font-family: "Adobe Garamond Premier Pro",serif; }

